*scratch*
archive/bryn_bailer/creds.txt
.DS_Store
node_modules/
.env
.vscode/
.idea/
*.log
*.sqlite
*.sqlite3
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.egg-info/
dist/
build/
.eggs/
*.coverage
.coverage.*
htmlcov/